<nav class="navbar is-white has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="http://www.srdjan.cc/workout-builder-logo.png" alt="Workout Builder" height="30">
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample"
           (click)="isActive = !isActive"
           [ngClass]="{'is-active': isActive, 'not-active': !isActive}">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu" [ngClass]="{'is-active': isActive, 'not-active': !isActive}">
      <div class="navbar-start">
        <a class="navbar-item" href="">
          Home
        </a>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <a class="navbar-item" routerLink="/workouts">
            Workouts
          </a>
        </ng-template>
          <a class="navbar-item" routerLink="/exercises">
            Exercises
          </a>
      </div>

      <div class="navbar-end">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button" routerLink="/signin">
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                  <span>
                  Sing in
                </span>
                </a>
              </p>
              <p class="control">
                <a class="button is-info" routerLink="/signup">
                <span class="icon">
                  <i class="fa fa-user-plus"></i>
                </span>
                  <span>Sign up</span>
                </a>
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/documentation/overview/start/">
              Srdjan
            </a>
            <div class="navbar-dropdown is-boxed is-right">
              <a class="navbar-item" routerLink="/user">
                Account Details
              </a>
              <a class="navbar-item" href="">
                Custom Exercises
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" (click)="authService.logout()">
                Log out
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>