<div class="columns is-mobile is-centered">
  <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
    <div class="content">
      <h2>
        Sign in
      </h2>
      <p>
        Sign in to your account and start building your favorite workout routines.
      </p>
    </div>
    <form (submit)="onSignin(f)" #f="ngForm">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" name="email" placeholder="Email" ngModel required>
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fa fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" name="password" placeholder="Password" ngModel required>
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" [disabled]="!f.valid">
            Sign in
          </button>
        </p>
      </div>
    </form>
  </div>
</div>
