<div class="columns is-mobile is-centered">
  <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
    <div class="content">
      <h2>
        Sign up
      </h2>
      <p>
        Create a Workout Builder account and start building your favorite workout routines.
      </p>
    </div>
    <form (submit)="onSignup(f)" #f="ngForm">
      <div class="field">
        <label class="label">Name</label>
        <div class="control has-icons-left">
          <input class="input" type="text" name="name" placeholder="e.g Alex Smith" ngModel required>
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" name="email" placeholder="e.g. alexsmith@gmail.com" ngModel required>
          <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          <span class="icon is-small is-right">
              <i class="fa fa-check"></i>
            </span>
        </p>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <p class="control has-icons-left">
          <input class="input" type="password" name="password" placeholder="Password" ngModel required>
          <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
        </p>
      </div>
      <div class="field">
        <label class="label">Password Confirmation</label>
        <p class="control has-icons-left">
          <input class="input" type="password" name="passwordConfirmation" placeholder="Password Confirmation" ngModel required>
          <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" [disabled]="!f.valid">
            Sign up
          </button>
        </p>
      </div>
    </form>
  </div>
</div>

