<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="media" *ngFor="let exercise of exercises">
        <img class="align-self-start mr-3" style="width: 220px;"
             src="https://cdn-maf0.heartyhosting.com/sites/muscleandfitness.com/files/styles/263x263/public/studio/73/73_B.jpg?itok=4BbgYwH_"
             alt="{{ exercise.name }}">
        <div class="media-body">
          <h3 class="mt-0">{{ exercise.name }}</h3>
          <p><small><strong>Exercise type: </strong>{{ exercise.exerciseType.name }}</small></p>
          <p>{{ exercise.description }}</p>
          <p><small><strong>Muscle Groups:  </strong></small>
            <span class="btn btn-light btn-sm" style="margin-right: 5px;" *ngFor="let muscle of exercise.muscleGroup">
              {{ muscle.name }}
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="btn-group" role="group" aria-label="Navigation" style="margin: 20px auto;">
        <button class="btn btn-secondary btn-sm"
                [disabled]="page==1"
                (click)="onGetExercises(1)">First</button>
        <button class="btn btn-secondary btn-sm"
                [disabled]="page==1"
                (click)="onGetExercises(page-1)">Previous</button>
        <button class="btn btn-secondary btn-sm"><span class="badge badge-light">{{ page }}</span></button>
        <button class="btn btn-secondary btn-sm"
                [disabled]="page==lastPage"
                (click)="onGetExercises(page+1)">Next</button>
        <button class="btn btn-secondary btn-sm"
                [disabled]="page==lastPage"
                (click)="onGetExercises(lastPage)">Last <span class="badge badge-light">{{ lastPage }}</span></button>
      </div>
    </div>
  </div>
</div>
