<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Exercises
      </h1>
      <h2 class="subtitle">
        A list of all exercises...
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns media" *ngFor="let exercise of exercises | slice:0:listLimit">
    <div class="column is-one-third-desktop is-full-mobile is-half-tablet">
      <div class="image">
        <img src="{{ exercise.video }}">
      </div>
    </div>
    <div class="column is-two-thirds-desktop is-full-mobile is-half-tablet">
      <div class="media-content">
        <div class="content">
          <p>
            <span class="title is-capitalized">{{ exercise.name }}</span><br><small>Exercise type: {{ exercise.exerciseType.name }}</small>
            <br>
            {{ exercise.description }}
          </p>
        </div>
        <div class="level-left">
          <span class="tag is-light" style="margin-right: 5px;" *ngFor="let muscle of exercise.muscleGroup">
            {{ muscle.name }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="buttons has-addons is-centered">
    <button class="button is-info" (click)="addToList()" [ngClass]="{'is-loading': isLoading}">
        <span class="icon">
          <i class="fa fa-chevron-circle-down"></i>
        </span>
      <span>Show more</span>
    </button>
  </div>
</section>
