<div class="row">
  <div class="col-md-12">
    <form (submit)="onUpdateUser(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-12 form-group">
          <h3>User details:</h3>
        </div>
        <div class="col-md-12 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" [(ngModel)]="user.name" class="form-control">
        </div>
        <div class="col-md-12 form-group">
          <label for="age">Age</label>
          <input type="text" id="age" name="age" [(ngModel)]="user.age" class="form-control">
        </div>
        <div class="col-md-12 form-group">
          <label for="gender">Gender</label>
          <input type="text" id="gender" name="gender" [(ngModel)]="user.gender" class="form-control">
        </div>
        <div class="col-md-12 form-group">
          <label for="height">Height</label>
          <input type="text" id="height" name="height" [(ngModel)]="user.height" class="form-control">
        </div>
        <div class="col-md-12 form-group">
          <label for="weight">Weight</label>
          <input type="text" id="weight" name="weight" [(ngModel)]="user.weight" class="form-control">
        </div>
        <div class="col-md-12 form-group">
          <button class="btn btn-success">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>